@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, form, fieldset, legend, textarea, input, button, blockquote, pre { margin: 0; padding: 0; }

html, body { margin: 0; padding: 0; background: none repeat scroll 0 0 #ecf2f7; color: #666666; font: 12px Verdana,宋体; height: 100%; }

body a { outline: none; }

li { list-style: none outside none; }

ul, li { margin: 0px; padding: 0px; list-style-type: none; }

a { text-decoration: none; }

a img { border: 0px; }

a:hover { text-decoration: none; }

a:focus { outline: none; -moz-outline: none; }

/* 内容样式 */
#menu { position: absolute; width: 15%; height: 100%; left: 0; top: 0px; background-color: #ecf2f7; padding: 0px; margin: 0px; -moz-box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5); -webkit-box-shadow: 0px 4px 12px -2px rgba(20%,20%,40%,0.5); box-shadow: 4px 4px 12px -2px rgba(20%,20%,40%,0.5); background-color: #ecf2f7; font-family: 'Microsoft YaHei'; }

#content { height: 100%; margin-left: 15%; background-color: #ffffff; overflow: auto; }
#content_profile{ height: 93%; margin:1% 1% 1% 1%; background-color: #ffffff; overflow: auto; border: 1px solid; }
#content_profile h3{border:1px solid; float:left; width:200px; height:35px;text-align:center; cursor:pointer; font-size:27px; font-family:Simsun;line-height:35px;}
#content_profile div{clear:both; height:94%; border:1px solid; display:none;}
#content_profile div.content{display:block;}
#content_profile h3.active{background:#506aa5; color:#ffffff; border-buttom:0px;}

.pdf-canvas { height:94%; overflow:auto; margin:0 auto; width: 98%; text-align: center; border-bottom:1px solid #355294;border-left:1px solid #355294;border-right:1px solid #355294;}
.canvas-left { height:4%; text-align: center; width: 98%;margin:0 auto; font-size: 18px; font-family: "微软雅黑", "宋体", Arial, sans-serif; line-height:30px; margin-top:10px; border:1px solid #355294;}

.top { padding-left: 5%; width: 90%; height: 90%; }

.lefttitle {  width: 150px; height: 40px;  border-bottom: 1px solid #b3c0d8; color: #506aa5; }
.lefttitle span{ font-size: 16px; height: 40px;  vertical-align:bottom;}
.tree_canvas { border: 1px dashed #becee9; height: 750px; margin-top: 10px; width: 100%; overflow: hidden; }

.tabBar { border-top: 1px solid #becee9; bottom: 0px; }
.tabBar span { background-color: #e8e8e8; cursor: pointer; display: inline-block; float: left; font-weight: bold; width: 145px; height: 30px; line-height: 30px; padding: 0; text-align: center; }
.tabBar span.current { background-color: #355294; color: #fff; }
.tabCon { margin-top: 5px; display: none; overflow: auto; }
/*清除浮动
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/
.cl:after, .clearfix:after { content: "\20"; display: block; height: 0; clear: both; visibility: hidden; }
.cl, .clearfix { zoom: 1; }

.main { margin: 0px; padding: 0px; float: left; width: 100%; height: 100%; }

.main-inner { margin: 0px; padding: 0px; margin-left: 320px; background-color: transparent; height: 100%; }

#map-container { width: 100%; height: 100%; position: relative; }

#map_canvas { width: 100%; height: 100%; background-color: white; }

.searchfilter { 
    height: 200px; margin-top: 30px; width: 292px; overflow: hidden;
}


/* 地图下方内容 */
.mapfooter { height: 190px; width: 292px; margin-top: 10px; overflow: hidden; border: 1px dashed #becee9; }

.mapfootercon { height: 190px; width: 292px; margin: 0; padding: 0; color: #666666; }
.mapfootercon a { color: #666666; }
.mapfootercon a:hover { color: #355294; }
.headtitle { height: 30px; width: 100%; border-bottom: 1px dashed #becee9; text-align: center; font-size: 14px; font-weight: bold; line-height: 30px; }
.moreico { width: 30px; float: right; font-size: 12px; font-weight: normal; }
/* 通知公告 */
.tongzhicontent { height: 140px; width: 100%; margin: 0; padding: 0; }

.tongzhicontent ul { margin: 0; padding: 0; }

.tongzhicontent ul li { width: 100%; height: 30px; line-height: 30px; margin: 0; padding: 0; float: left; padding-left: 10px; background-image: url(../images/home/libg.png); background-repeat: no-repeat; background-position: 2px center; overflow: hidden; }

.tongzhicontent ul a { width: 180px; height: 30px; line-height: 30px; overflow: hidden; float: left; }
.tongzhicontent ul li span { width: 90px; float: right; }


/* 地图右侧 */
.mapright { width: 142px; z-index: 99; position: absolute; right: 0; top: 50px; font-family: "Microsoft YaHei"; overflow: hidden; }

.maprighttop { color: #FFFFFF; background-image: url(../images/home/righttab_0.png); background-repeat:no-repeat;  width: 162px; height: 55px; font-size: 14px; line-height: 55px; padding-left: 35px; }

.maprighttop ul li { margin: 0; padding: 0; float: left; }

.maprighttop2 { background-image: url(../images/home/righttop2.png); color: #FFFFFF; width: 264px; height: 57px; font-size: 14px; line-height: 57px; padding-left: 15px; background-repeat: no-repeat; }

.maprighttop2 ul li { width: 55px; float: left; padding: 0; }

.maprighttop2 ul li label { padding: 0; }

.maprightone { color: #FFFFFF; background-image: url(../images/home/righttab_1_2.png) ; background-repeat:no-repeat; width: 162px; height: 55px; font-size: 14px; line-height: 60px; padding-left: 50px; cursor: pointer; }

.maprighttwo { color: #FFFFFF; width: 162px; height: 55px; font-size: 14px; line-height: 60px; padding-left: 50px; background-image: url(../images/home/righttab_2_2.png);  background-repeat:no-repeat;cursor: pointer; }

.maprightthree { color: #FFFFFF; width: 162px; height: 55px; font-size: 14px; line-height: 60px; padding-left: 50px; background-image: url(../images/home/righttab_3_2.png); background-repeat:no-repeat; cursor: pointer; }

.righttab_1content { background-image: url(../images/home/-righttab_1content.png); width: 151px; height: 208px; }

.barcontent { padding: 10px; font-size: 14px; -moz-border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; -moz-border-bottom-left-radius: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; color: #FFFFFF; }

.barcontent p { color: #FFFFFF; }

@media \0screen\,screen\9 {
    /*只支持IE6、7、8*/

    #bar1content { background: #024b71; }
    #bar2content { background: #90980a; }
    #bar3content { background: #55a259; }

    .barcontent { padding: 10px; font-size: 14px; filter: alpha(Opacity=60); -moz-border-top-left-radius: 7px; -webkit-border-top-left-radius: 7px; border-top-left-radius: 7px; -moz-border-bottom-left-radius: 7px; -webkit-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; behavior: url(/Scripts/PIE.htc); }

    .barcontent p { color: #FFFFFF; }
}

/* Tree样式 开始*/
.guo { background: url("../images/icons/flag_orange.png") no-repeat; background-position: left center; }
.sheng { background: url("../images/icons/flag_blue.png") no-repeat; background-position: left center; }
.shi { background: url("../images/icons/flag_green.png") no-repeat; background-position: left center; }
.xian { background: url("../images/icons/flag_purple.png") no-repeat; background-position: left center; }

.P_Red { background: url("../images/icons/P_G_12.png") no-repeat; background-position: left center; }
.P_Orange { background: url("../images/icons/P_G_12.png") no-repeat; background-position: left center; }
.P_Yellow { background: url("../images/icons/P_G_12.png") no-repeat; background-position: left center; }
.P_Blue { background: url("../images/icons/P_G_12.png") no-repeat; background-position: left center; }
.P_Green { background: url("../images/icons/P_G_12.png") no-repeat; background-position: left center; }

.Z_Red { background: url(".../images/icons/Z_G_20.png") no-repeat; background-position: left center; }
.Z_Orange { background: url("../images/icons/Z_G_20.png") no-repeat; background-position: left center; }
.Z_Yellow { background: url("../images/icons/Z_G_20.png") no-repeat; background-position: left center; }
.Z_Blue { background: url("../images/icons/Z_G_20.png") no-repeat; background-position: left center; }
.Z_Green { background: url("../images/icons/Z_G_20.png") no-repeat; background-position: left center; }


.nsl { background: url("../images/icons/Z_NSL.png") no-repeat; background-position: left center; }
.hp { background: url("../images/icons/Z_HP.png") no-repeat; background-position: left center; }
.bt { background: url("../images/icons/Z_BT.png") no-repeat; background-position: left center; }
.dlf { background: url("../images/icons/Z_DLF.png") no-repeat; background-position: left center; }
.dmcj { background: url("../images/icons/Z_DMCJ.png") no-repeat; background-position: left center; }
.dmtx { background: url("../images/icons/Z_DMTX.png") no-repeat; background-position: left center; }
.bwdxp { background: url("../images/icons/Z_BWDXP.png") no-repeat; background-position: left center; }

.led { background: url("../images/icons/led.png") no-repeat; background-position: left center; }
.trumpet { background: url("../images/icons/trumpet.png") no-repeat; background-position: left center; }
.video { background: url("../images/icons/SXT.png") no-repeat; background-position: left center; }


.wy { background: url("../images/icons/WY.png") no-repeat; background-position: left center; }
.yl { background: url("../images/icons/YL.png") no-repeat; background-position: left center; }
.ds { background: url("../images/icons/CS.png") no-repeat; background-position: left center; }
.nw { background: url("../images/icons/NW.png") no-repeat; background-position: left center; }
.cs { background: url("../images/icons/CS_16.png") no-repeat; background-position: left center; }
.hsl { background: url("../images/icons/HSL.png") no-repeat; background-position: left center; }
.dxy {background: url("../images/icons/none.png")  no-repeat; background-position: left center;  }
.deepwy {background: url("../images/icons/none.png") no-repeat;background-position: left center;  }
.kxy {background: url("../images/icons/none.png") no-repeat;background-position: left center;  }

.dxy {background: url("../images/icons/none.png") no-repeat; background-position: left center;  }
.none {background: url("../images/icons/none.png") no-repeat; background-position: left center; }

/*  Tree中查询向导部分     */

/*  Tree中查询向导部分结束     */

/* Tree样式 结束*/

/* 选项框 开始*/
.tab-wrapper { width: 98%; height: 98%; background-color: #d3e3fe;}
.tab-menu {margin: 2% 0px 0px 0px; width: 98%; height: 4%; background-color: #408080;}
.tab-menu span {float: left; width: 50%; height: 100%; font-family: Cursive,Serif; font-size: 16px; text-align:center; background-color: #a2acb3; color:#565656; font-weight: bold; display: inline-block; cursor:pointer; line-height: 30px; }
.tab-menu span.active {background-color: #506aa5; color:#ffffff;}
.tab-content {width: 100%; height: 95%;}
.tab-content>div {background-color: #ffffff; box-sizing:border-box; width: 100%; height: 100%;}
/* 选项框 结束*/

